/* src/app/PostEdit.module.css */

/* p태그를 레이아웃에서 제외하여 hydration 오류의 원인인 중첩 규칙을 무력화 */
.markdownContent p {
  display: contents;
}

/* p태그 안에 있던 텍스트들이 너무 붙지 않도록 간격 조정 */
/* figure가 아닌 일반적인 텍스트 문달들에 여백 부여 */
.markdownContent p > *:not(figure) {
  display: block;
  margin-bottom: 1.25rem;
}

.markdownContent h1,
.markdownContent h2,
.markdownContent h3 {
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

/* 순서 없는 목록(ul) 스타일 */
.markdownContent ul {
  list-style: disc; /* 점(bullet) 기호가 나타나도록 설정 */
  padding-left: 1.5rem;
}

/* 순서 있는 목록(ol) 스타일을 추가합니다. */
.markdownContent ol {
  list-style: decimal;
  padding-left: 1.5rem;
}

.markdownContent code {
  background-color: #f1f5f9;
  padding: 0.2em 0.4em;
  border-radius: 6px;
}

.markdownContent img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 8px;
}

.imageFigure {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.responsiveImg {
  max-width: 100% !important;
  height: auto !important;
  border-radius: 8px;
}

.imageCaption {
  margin-top: 0.75rem;
  font-size: 0.875rem;
  color: #666;
  font-style: italic;
}

/* code 태그 스타일 초기화 */
.markdownContent
  :where(code):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
  background-color: transparent !important;
  color: inherit !important;
  box-shadow: none !important;
  padding: 0 !important;
}
