@import "tailwindcss";

@theme {
  --breakpoint-2xl: 115rem;
}

@font-face {
  font-family: "Roboto";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  src: url("https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@100..900&family=Noto+Serif+KR:wght@200..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap")
    format("truetype");
}

:root {
  --color-primary: #655692;
  --color-white: #ffffff;
  --color-dark: #000000;
  --color-gray: #f0ecee;

  --color-point: #6750a4;
  --text-point: #4f378a;
  --color-card: #c5b5f8;
  --color-box: #ebb3f9;
  --color-hover: #4c3d77;
  --color-search: #aa9adb;
  --color-search-hover: #3e3163;
}

.dark{
  --color-white: #211f21;
  --color-dark: #ffffff;
  --color-gray: #211f21;
  --color-primary: #51405b;
  --text-point: #e8def8;
  --color-card: #464558;
}

@layer base {
  /* 모든 요소(*)에 대해 색상 변화 애니메이션 적용 */
  * {
    @apply transition-colors duration-500;
  }
}

@layer utilities {
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

    /* 크롬, 사파리, 엣지용 스크롤바 커스텀 */
  .custom-scrollbar::-webkit-scrollbar {
    width: 10px; /* 스크롤바 너비 */
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent; /* 트랙 배경 투명하게 */
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #d1d5db; /* 스크롤바 색상 (gray-300) */
    border-radius: 20px;       /* 둥글게 */
    border: 3px solid transparent; /* 여백 효과 */
    background-clip: content-box;
  }
}
