@import "tailwindcss";

@theme {
  --breakpoint-2xl: 115rem;
}

@font-face {
  font-family: "Roboto";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  src: url("https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@100..900&family=Noto+Serif+KR:wght@200..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap")
    format("truetype");
}

:root {
  --color-primary: #e8def8;
  --color-white: #ffffff;
  --color-dark: #000000;
  --bg-gray: #f0ecee;
  --color-point: #6750a4;
  --text-point: #4f378a;
}

@layer utilities {
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}
